# Ignore all GIMP files.
*.xcf

# Ignore most compilation files.
*.sym
*.obj
linkfile

# Ignore generated debug files
*.dbg

# Ignore Metype's weird IDE config files
.fleet
.vscode

# Ignore most of the resources for the game.
res/AngelAngle/Sheep/
res/AngelAngle/Shots
res/AngelAngle/Souls
res/AngelAngle/Tiles